In [1]:
import pandas as pd
import altair as alt

In [13]:
hd = pd.read_csv('sample_data/Heart_disease_details.csv')
mortgage = pd.read_csv('sample_data/MORTGAGE30US.csv')

In [14]:
mortgage.head(11)

          DATE  MORTGAGE30US
0   1971-04-02          7.33
1   1971-04-09          7.31
2   1971-04-16          7.31
3   1971-04-23          7.31
4   1971-04-30          7.29
5   1971-05-07          7.38
6   1971-05-14          7.42
7   1971-05-21          7.44
8   1971-05-28          7.46
9   1971-06-04          7.52
10  1971-06-11          7.52

In [15]:
blood_pressure=[]
for i in hd.index:
  systolic = hd.Systolic[i]
  if systolic<120:
    blood_pressure.append('normal')
  elif systolic<130:
    blood_pressure.append('elevated')
  elif systolic<140:
    blood_pressure.append('hypertension1')
  elif systolic<180:
    blood_pressure.append('hypertension2')
  else:
    blood_pressure.append('crisis')
hd['Blood Pressure']=blood_pressure

In [16]:
hd['Blood Pressure'].value_counts()

hypertension1    170
hypertension2    103
elevated          59
normal             2
Name: Blood Pressure, dtype: int64

In [18]:
class_encode = {'Female':1, 'Male':2}

In [17]:
hd.Gender.map(class_encode)

0      1
1      2
2      1
3      2
4      1
      ..
329    1
330    2
331    1
332    2
333    1
Name: Gender, Length: 334, dtype: int64

In [19]:
from datetime import datetime
dates_as_datetime=[]
for i in mortgage.DATE:
  date=datetime.strptime(i,'%Y-%m-%d')
  dates_as_datetime.append(date)
dates_as_datetime[:10]

[datetime.datetime(1971, 4, 2, 0, 0),
 datetime.datetime(1971, 4, 9, 0, 0),
 datetime.datetime(1971, 4, 16, 0, 0),
 datetime.datetime(1971, 4, 23, 0, 0),
 datetime.datetime(1971, 4, 30, 0, 0),
 datetime.datetime(1971, 5, 7, 0, 0),
 datetime.datetime(1971, 5, 14, 0, 0),
 datetime.datetime(1971, 5, 21, 0, 0),
 datetime.datetime(1971, 5, 28, 0, 0),
 datetime.datetime(1971, 6, 4, 0, 0)]

In [20]:
pd.cut(hd.Systolic, bins=[119, 129, 139, 179, 199], labels=['normal', 'elevated', 'hypertension1', 'hypertension2'])

0      hypertension1
1      hypertension1
2           elevated
3      hypertension1
4           elevated
           ...
329         elevated
330         elevated
331    hypertension1
332    hypertension1
333         elevated
Name: Systolic, Length: 334, dtype: category
Categories (4, object): ['normal' < 'elevated' < 'hypertension1' < 'hypertension2']