In [1]:
import pandas as pd
import altair as alt

In [7]:
stu = pd.read_csv('sample_data/Students data.csv')
stu.head()

,ID,class,gender,race,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis,from1,from2,from3,from4,y
0,1141,A,male,1,73.47,64,81,87,60,74,71,60,A,A,A,3,0
1,1142,A,female,1,71.22,57,50,51,51,55,62,61,B,A,A,2,0
2,1143,A,female,2,74.56,47,48,71,60,61,68,64,C,A,A,0,1
3,1144,A,female,1,72.89,46,72,38,60,29,54,51,D,A,A,0,0
4,1145,A,female,1,70.11,49,45,63,60,66,66,61,E,A,A,0,0

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
mi = LinearRegression()

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(stu['Algebra'].values.reshape(-1,1), stu['GPA'], test_size=0.1)

In [12]:
mi.fit(X_train,y_train)
mi.coef_, mi.intercept_

(array([0.37592792]), 54.33693767590216)

In [13]:
stu['Predict'] = stu['Algebra']*mi.coef_+mi.intercept_
mi_y = mi.predict(stu['GPA'].values.reshape(-1,1))
mi_y

array([81.95636182, 81.11052401, 82.36612325, 81.73832363, 80.69324402,
       78.78728947, 83.32473944, 78.67827038, 83.62924106, 83.09542341,
       83.21947963, 85.78330803, 83.28338737, 84.44124536, 85.03897075,
       85.18934192, 82.19695569, 84.97506301, 82.7721254 , 83.0803863 ,
       82.74581045, 85.58782551, 84.29839275, 85.90736424, 84.24576284,
       83.86231637, 83.56909259, 85.56151056, 85.92991992, 86.39982982,
       86.30584784, 87.05770367, 82.21951137, 85.42993579, 84.89611814,
       86.49757107, 86.82838764, 86.33216279, 84.89987742, 85.91864208,
       85.61038119, 88.41856274, 85.89232713, 84.813414  , 85.01641508,
       87.36220529, 84.63672788, 82.31725262, 85.59534407, 85.36978732,
       84.03524321, 86.08405036, 86.29832928, 83.48262917, 83.68938953,
       87.20807484, 85.05400787, 86.56147882, 87.55016924, 84.1630587 ,
       86.17803234, 83.80592718, 83.48262917, 84.79837688, 85.83593794,
       86.80583197, 87.15544493, 86.06901325, 89.32078974, 87.15544493,
       87.20055628, 86.03893901, 87.94865284, 85.95623487, 87.14040781,
       88.88471335, 87.33213105, 86.17051378, 78.2046012 , 88.15165391,
       86.35847774, 86.60659017, 85.98254983, 86.29081072, 88.40352562,
       87.08777791, 86.15171739, 87.65166978, 87.36972384, 86.67049792,
       87.96744923, 87.02762944, 86.99379593, 88.77569426, 87.62159555,
       87.27950114, 88.82456489, 88.59900814, 88.28698796, 87.45618727,
       87.54640997, 88.11030184, 87.72685537, 86.89229539, 89.56514289])

In [14]:
mi.score(X_train, y_train)

0.5666474166702149

In [15]:
mi.score(X_test, y_test)

0.6209407119192247